.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.profile-container {
  margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  width: 360px;
  height: 480px;
  border-style: solid;
  border-width: 2px;
}
